<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>风宇个人博客</title>
</head>

<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/common.css"/>
<link rel="stylesheet" type="text/css" href="css/article.css"/>
<link rel="stylesheet" href="plugin/jquery.page.css">
<link href="logo.ico" rel="shortcut icon"/>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="plugin/jquery.page.js"></script>
<script src="js/common.js"></script>
<!--<script src="js/snowy.js"></script>-->
<script type="text/javascript">

    $(function(){
        $("#page").Page({
            totalPages: 7,//分页总数
            liNums: 5,//分页的数字按钮数(建议取奇数)
            activeClass: 'activP', //active 类样式定义
            callBack : function(page){
                var htmlobj4=$.ajax({ url:"/MyBlog/testBlogController/selectBlogByYearAndMonth?page="+page+"&year="+getUrlParam("year")+"&month="+getUrlParam("month"),async:false});
                var dataObj4=eval("("+htmlobj4.responseText+")");
                //alert(dataObj4.length);
                $("#articleList").empty();
                for(var j = 0; j < dataObj4.length; j++){
                    $("#articleList").append("\t\t\t\t\t    <div class=\"panel panel-default w_article_item\">\n" +
                        "\t\t\t\t\t\t  <div class=\"panel-body\">\n" +
                        "\t\t\t\t\t\t\t  <div class=\"row\">\n" +
                        "\t\t\t\t\t\t\t\t  <div class=\"col-xs-6 col-md-3\">\n" +
                        "\t\t\t\t\t\t\t\t\t  <a href=\"#\" class=\"thumbnail w_thumbnail\">\n" +
                        "\t\t\t\t\t\t\t\t\t\t  <img src=\"\" alt=\"...\">\n" +
                        "\t\t\t\t\t\t\t\t\t  </a>\n" +
                        "\t\t\t\t\t\t\t\t  </div>\n" +
                        "\t\t\t\t\t\t\t\t  <h4 class=\"media-heading\">\n" +
                        "\t\t\t\t\t\t\t\t\t  <a class=\"title\" href=\"\"></a>\n" +
                        "\t\t\t\t\t\t\t\t  </h4>\n" +
                        "\t\t\t\t\t\t\t\t  <p><a class=\"label label-default\"></a></p>\n" +
                        "\t\t\t\t\t\t\t\t  <p class=\"w_list_overview overView\"></p>\n" +
                        "\t\t\t\t\t\t\t\t  <p class=\"count_r\"><span class=\"count\"><i class=\"glyphicon glyphicon-user\"></i><a href=\"#\">admin</a></span> <span class=\"count\"><i class=\"glyphicon glyphicon-eye-open\"></i></span><span class=\"count\"><i class=\"glyphicon glyphicon-comment\"></i></span><span class=\"count\"><i class=\"glyphicon glyphicon-time\"></i></span></p>\n" +
                        "\t\t\t\t\t\t\t  </div>\n" +
                        "\t\t\t\t\t\t  </div>\n" +
                        "\t\t\t\t\t  </div>");
                }
                for(var i = 0; i < dataObj4.length; i++){
                    $(".title").eq(i).text(dataObj4[i].title);//设置title
                    //alert($(".label label-default").text("java111"));
                    $("p").find("a").eq(2*i).text(dataObj4[i].keywords);// 设置标签
                    $(".overView").eq(i).text(dataObj4[i].introduction);//设置简介
                    $(".count a").eq(i).text(dataObj4[i].author);//设置作者
                    $(".count").eq(4*i+1).html("<i class=\"glyphicon glyphicon-eye-open\"></i>阅读:"+dataObj4[i].readNum);//设置阅读数
                    $(".count").eq(4*i+2).html("<i class=\"glyphicon glyphicon-comment\"></i>评论:"+dataObj4[i].commentNum);//设置评论数
                    $(".count").eq(4*i+3).html("<i class=\"glyphicon glyphicon-time\"></i>"+getMyDate(dataObj4[i].releaseTime));//设置发布时间
                    $("img").eq(i).attr("src",dataObj4[i].imageUrl);//设置封面
                    $(".media-heading").find("a").eq(i).attr("href","/MyBlog/Blog?viewName=article_detail&id="+dataObj4[i].id);//设置链接
                }
            }
        });

    })

</script>

<body>
<div class="w_header">
    <div class="container">
        <div class="w_header_top">
            <a href="/MyBlog/Blog?viewName=index" class="w_logo"></a>
            <span class="w_header_nav">
					<ul>
						<li><a href="/MyBlog/Blog?viewName=index">首页</a></li>
						<li><a href=""  class="active">文章</a></li>
						<li><a href="/MyBlog/Blog?viewName=moodList">归档</a></li>
						<li><a href="/MyBlog/Blog?viewName=comment">留言</a></li>
						<li><a href="/MyBlog/Blog?viewName=about" >关于</a></li>
					</ul>
				</span>
            <div class="w_search">
                <div class="w_searchbox">
                    <input type="text" placeholder="search" />
                    <button>搜索</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w_container">
    <div class="container">
        <div class="row w_main_row">

            <ol class="breadcrumb w_breadcrumb">
                <li><a href="/MyBlog/Blog?viewName=index">首页</a></li>
                <li class="active">文章</li>
                <span class="w_navbar_tip">我们长路漫漫，只因学无止境。</span>
            </ol>

            <div class="col-lg-9 col-md-9 w_main_left">
                <div class="panel panel-default">
                    <div class="panel-body contentList" id="articleList">

                        <div class="panel panel-default w_article_item">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6 col-md-3">
                                        <a href="#" class="thumbnail w_thumbnail">
                                            <img src="" alt="...">
                                        </a>
                                    </div>

                                    <h4 class="media-heading">
                                        <a class="title" href=""> </a>
                                    </h4>
                                    <p><a class="label label-default"></a></p>
                                    <p class="w_list_overview overView"></p>
                                    <p class="count_r"><span class="count"><i class="glyphicon glyphicon-user"></i><a href="#">admin</a></span> <span class="count"><i class="glyphicon glyphicon-eye-open"></i></span><span class="count"><i class="glyphicon glyphicon-comment"></i></span><span class="count"><i class="glyphicon glyphicon-time"></i></span></p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default w_article_item">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6 col-md-3">
                                        <a href="#" class="thumbnail w_thumbnail">
                                            <img src="" alt="...">
                                        </a>
                                    </div>
                                    <h4 class="media-heading">
                                        <a class="title" href=""></a>
                                    </h4>
                                    <p><a class="label label-default"></a></p>
                                    <p class="w_list_overview overView"></p>
                                    <p class="count_r"><span class="count"><i class="glyphicon glyphicon-user"></i><a href="#">admin</a></span> <span class="count"><i class="glyphicon glyphicon-eye-open"></i></span><span class="count"><i class="glyphicon glyphicon-comment"></i></span><span class="count"><i class="glyphicon glyphicon-time"></i></span></p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default w_article_item">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6 col-md-3">
                                        <a href="#" class="thumbnail w_thumbnail">
                                            <img src="" alt="...">
                                        </a>
                                    </div>
                                    <h4 class="media-heading">
                                        <a class="title" href=""></a>
                                    </h4>
                                    <p><a class="label label-default"></a></p>
                                    <p class="w_list_overview overView"></p>
                                    <p class="count_r"><span class="count"><i class="glyphicon glyphicon-user"></i><a href="#">admin</a></span> <span class="count"><i class="glyphicon glyphicon-eye-open"></i></span><span class="count"><i class="glyphicon glyphicon-comment"></i></span><span class="count"><i class="glyphicon glyphicon-time"></i></span></p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default w_article_item">
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-xs-6 col-md-3">
                                        <a href="#" class="thumbnail w_thumbnail">
                                            <img src="" alt="...">
                                        </a>
                                    </div>

                                    <h4 class="media-heading">
                                        <a class="title" href=""></a>
                                    </h4>
                                    <p><a class="label label-default"></a></p>
                                    <p class="w_list_overview overView"></p>
                                    <p class="count_r"><span class="count"><i class="glyphicon glyphicon-user"></i><a href="#">admin</a></span> <span class="count"><i class="glyphicon glyphicon-eye-open"></i></span><span class="count"><i class="glyphicon glyphicon-comment"></i></span><span class="count"><i class="glyphicon glyphicon-time"></i></span></p>
                                </div>

                            </div>
                        </div>



                        <div class="panel panel-default w_article_item">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6 col-md-3">
                                        <a href="#" class="thumbnail w_thumbnail">
                                            <img src="" alt="...">
                                        </a>
                                    </div>

                                    <h4  class="media-heading"><a class="title" href=""></a></h4>
                                    <p><a class="label label-default"></a></p>
                                    <p class="overView"></p>
                                    <p class="count_r"><span class="count"><i class="glyphicon glyphicon-user"></i><a href="#">admin</a></span> <span class="count"><i class="glyphicon glyphicon-eye-open"></i></span><span class="count"><i class="glyphicon glyphicon-comment"></i></span><span class="count"><i class="glyphicon glyphicon-time"></i></span></p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default w_article_item">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6 col-md-3">
                                        <a href="#" class="thumbnail w_thumbnail">
                                            <img src="" alt="...">
                                        </a>
                                    </div>
                                    <h4 class="media-heading">
                                        <a class="title" href=""></a>
                                    </h4>
                                    <p><a class="label label-default"></a></p>
                                    <p class="w_list_overview overView"></p>
                                    <p class="count_r"><span class="count"><i class="glyphicon glyphicon-user"></i><a href="#">admin</a></span> <span class="count"><i class="glyphicon glyphicon-eye-open"></i></span><span class="count"><i class="glyphicon glyphicon-comment"></i></span><span class="count"><i class="glyphicon glyphicon-time"></i></span></p>
                                </div>
                            </div>
                        </div>


                        <!--<div class="page">
                            <nav aria-label="Page navigation">
                          <ul class="pagination">
                            <li>
                              <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                              <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                        </div>-->

                    </div>
                    <div id="page">

                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 w_main_right">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">热门文章排行</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled sidebar">
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">友情链接</h3>
                    </div>
                    <div class="panel-body">
                        <div class="newContent">
                            <ul class="list-unstyled sidebar shiplink">
                                <li><a href="https://www.baidu.com/" target="_blank">百度</a></li>
                                <li><a href="https://www.oschina.net/" target="_blank">开源中国</a></li>
                                <li><a href="http://www.ulewo.com/" target="_blank">有乐网</a></li>
                                <li><a href="http://www.sina.com.cn/" target="_blank">新浪网</a></li>
                                <li><a href="http://www.qq.com/" target="_blank">腾讯网</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="w_foot">
    <!--<div class="w_foot_copyright">© 2015~2016 版权所有 | <a target="_blank" href="http://www.miitbeian.gov.cn/" rel="nofollow">京ICP备15010892号-1</a></div>-->
    <div class="w_foot_copyright">Copyright © 2017-2020, www.javaboke.com. All Rights Reserved. </div>
</div>
<!--toTop-->
<div id="shape">
    <div class="shapeColor">
        <div class="shapeFly">
        </div>
    </div>
</div>
<!--snow-->
<!--<div class="snow-container"></div>-->
</body>
<script>
    $(document).ready(function(){
        var htmlobj=$.ajax({ url: "/MyBlog/testBlogController/selectBlogByYearAndMonth?page=0&year="+getUrlParam("year")+"&month="+getUrlParam("month"),async:false});
        // alert(htmlobj.responseText);
        var dataObj=eval("("+htmlobj.responseText+")");
        $("#articleList").empty();
        for(var j = 0; j < dataObj.length; j++){
            $("#articleList").append("\t\t\t\t\t    <div class=\"panel panel-default w_article_item\">\n" +
                "\t\t\t\t\t\t  <div class=\"panel-body\">\n" +
                "\t\t\t\t\t\t\t  <div class=\"row\">\n" +
                "\t\t\t\t\t\t\t\t  <div class=\"col-xs-6 col-md-3\">\n" +
                "\t\t\t\t\t\t\t\t\t  <a href=\"#\" class=\"thumbnail w_thumbnail\">\n" +
                "\t\t\t\t\t\t\t\t\t\t  <img src=\"\" alt=\"...\">\n" +
                "\t\t\t\t\t\t\t\t\t  </a>\n" +
                "\t\t\t\t\t\t\t\t  </div>\n" +
                "\t\t\t\t\t\t\t\t  <h4 class=\"media-heading\">\n" +
                "\t\t\t\t\t\t\t\t\t  <a class=\"title\" href=\"\"></a>\n" +
                "\t\t\t\t\t\t\t\t  </h4>\n" +
                "\t\t\t\t\t\t\t\t  <p><a class=\"label label-default\"></a></p>\n" +
                "\t\t\t\t\t\t\t\t  <p class=\"w_list_overview overView\"></p>\n" +
                "\t\t\t\t\t\t\t\t  <p class=\"count_r\"><span class=\"count\"><i class=\"glyphicon glyphicon-user\"></i><a href=\"#\">admin</a></span> <span class=\"count\"><i class=\"glyphicon glyphicon-eye-open\"></i></span><span class=\"count\"><i class=\"glyphicon glyphicon-comment\"></i></span><span class=\"count\"><i class=\"glyphicon glyphicon-time\"></i></span></p>\n" +
                "\t\t\t\t\t\t\t  </div>\n" +
                "\t\t\t\t\t\t  </div>\n" +
                "\t\t\t\t\t  </div>");
        }
        for(var i = 0; i < dataObj.length; i++){
            $(".title").eq(i).text(dataObj[i].title);//设置title
            //alert($(".label label-default").text("java111"));
            $("p").find("a").eq(2*i).text(dataObj[i].keywords);// 设置标签

            $(".overView").eq(i).text(dataObj[i].introduction);//设置简介

            $(".count a").eq(i).text(dataObj[i].author);//设置作者

            $(".count").eq(4*i+1).html("<i class=\"glyphicon glyphicon-eye-open\"></i>阅读:"+dataObj[i].readNum);//设置阅读数

            $(".count").eq(4*i+2).html("<i class=\"glyphicon glyphicon-comment\"></i>评论:"+dataObj[i].commentNum);//设置评论数

            $(".count").eq(4*i+3).html("<i class=\"glyphicon glyphicon-time\"></i>"+getMyDate(dataObj[i].releaseTime));//设置发布时间

            $("img").eq(i).attr("src",dataObj[i].imageUrl);//设置封面

            $(".media-heading").find("a").eq(i).attr("href","/MyBlog/Blog?viewName=article_detail&id="+dataObj[i].id);//设置链接

        }
        var htmlobj2=$.ajax({ url: "/MyBlog/testBlogController/selectLastBlogIdWithTitle",async:false});
        var dataObj2=eval("("+htmlobj2.responseText+")");
        // alert(dataObj2.length);
        for(var j=0;j<10;j++)
        {

            $(".panel-body").children("ul:eq(0)").children("li:eq("+j+")").find("a").attr("href","/MyBlog/Blog?viewName=article_detail&id="+(dataObj2[j].id));//设置下一个文章链接
            $(".panel-body").children("ul:eq(0)").children("li:eq("+j+")").find("a").text(dataObj2[j].title);//设置上一个文章标题
        }
        $("button").click(function(){
            window.location.href = "/MyBlog/Blog?viewName=search&keyword="+$(".w_searchbox").find("input").val();
        });

    });
    function getMyDate(str){
        var oDate = new Date(str),
            oYear = oDate.getFullYear(),
            oMonth = oDate.getMonth()+1,
            oDay = oDate.getDate(),
            oTime = oYear +'-'+ getzf(oMonth) +'-'+ getzf(oDay);//最后拼接时间
        return oTime;
    };
    //补0操作
    function getzf(num){
        if(parseInt(num) < 10){
            num = '0'+num;
        }
        return num;
    }
    function getUrlParam(key){
        // 获取参数
        var url = window.location.search;
        // 正则筛选地址栏
        var reg = new RegExp("(^|&)"+ key +"=([^&]*)(&|$)");
        // 匹配目标参数
        var result = url.substr(1).match(reg);
        //返回参数值
        return result ? decodeURIComponent(result[2]) : null;
    }

</script>
</html>